html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #219ebc;
    height: 100vh;
    color: white;
}
header {
    background-color: #0086a7;
}
img{
    object-fit: cover;
}
#containerPizzeria{
    height: 100%;
}

/*tabella index*/
table tr {
   color: white;

}
#detailPizza {
    color: #219ebc;
    margin-top: 40px;
}

#detailPizza img{
    margin: 20px;
    width:80%;
    border-radius: 30px;
}
table .btn {
    background-color: white;
    color: #219ebc;
    font-weight: bolder;
}
footer a, footer div {
    color: white;
}
